<h1><%= @page_header %></h1>

<% @shopping_items.each_with_index do |item, index| %>

	<h2>Shopping Item Title: <%= item[:title] %></h2>

	<a href="/shopping_items/<%= index %>"> <p><%= item[:body] %></p></a>
	<a href="/shopping_items/<%= index %>/edit">Edit</a>


	<form action="/shopping_items/<%= index %>" method="POST">
		<input type="hidden" name="_method" value="DELETE">
		<input type="submit" value="Delete">
	</form>

<% end %>

